[submodule "packages/aur/blaze"]
    path = packages/aur/blaze
    url = https://aur.archlinux.org/blaze.git

[submodule "packages/aur/half"]
    path = packages/aur/half
    url = https://aur.archlinux.org/half.git

[submodule "packages/aur/python-cppheaderparser"]
    path = packages/aur/python-cppheaderparser
    url = https://aur.archlinux.org/python-cppheaderparser.git

[submodule "packages/hip/hipmagma"]
    path = packages/hip/hipmagma
    url = https://github.com/rocm-arch/hipmagma.git

[submodule "packages/kernel/linux-zen-custom"]
    path = packages/kernel/linux-zen-custom
    url = https://github.com/sasha0552/linux-zen-custom.git

[submodule "packages/pytorch/python-pytorch-rocm"]
    path = packages/pytorch/python-pytorch-rocm
    url = https://github.com/rocm-arch/python-pytorch-rocm.git

[submodule "packages/pytorch/python-torchvision-rocm"]
    path = packages/pytorch/python-torchvision-rocm
    url = https://github.com/rocm-arch/python-torchvision-rocm.git

[submodule "packages/rocm"]
    path = packages/rocm
    url = https://github.com/rocm-arch/rocm-arch.git
