[submodule "packages/aur/guile2.0"]
    path = packages/aur/guile2.0
    url = https://aur.archlinux.org/guile2.0.git

[submodule "packages/aur/python-cppheaderparser"]
    path = packages/aur/python-cppheaderparser
    url = https://aur.archlinux.org/python-cppheaderparser.git

[submodule "packages/hip/hipmagma"]
    path = packages/hip/hipmagma
    url = https://github.com/rocm-arch/hipmagma.git

[submodule "packages/pytorch/python-pytorch-rocm"]
    path = packages/pytorch/python-pytorch-rocm
    url = https://github.com/rocm-arch/python-pytorch-rocm.git

[submodule "packages/pytorch/python-torchvision-rocm"]
    path = packages/pytorch/python-torchvision-rocm
    url = https://github.com/rocm-arch/python-torchvision-rocm.git

[submodule "packages/rocm"]
    path = packages/rocm
    url = https://github.com/rocm-arch/rocm-arch.git
